/* Material Icons */
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../font/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local("../font/Material Icons"),
         local("../font/MaterialIcons-Regular"),
         url(../font/MaterialIcons-Regular.woff2) format("woff2"),
         url(../font/MaterialIcons-Regular.woff) format("woff"),
         url(../font/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: "liga";
}
.by-icon {
    position: absolute;
    margin-left: 5px;
}
#sidebarData > li > i.material-icons { margin-top: 0.25em }

/* Modals */
.modal {
    background-color: #00000099;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.modal > div {
    margin: 60% auto;
    padding: 0.5em;
    width: 80%;
}
.modalHeader { font-weight: bold }
.modalContent { padding: 0.5em 0.5em 0 }
#modalInfo .modalContent { padding-bottom: 0.5em; padding-top: 0 }
.modalContent > input { width: 100% }
.modalFooter { font-size: small; text-align: center }
.modalFooter > * { margin: 0 0.5em }
input.comeOn { border: 1px solid #FF0000 !important }
#modalAlert .modalContent { word-break: break-word }

/* Buttons */
.btn, .addBtn, nav li { cursor: pointer }
.addBtn {
    border-radius: 50%;
    height: 30px;
    width: 35px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

/* Header */
header {
    left: 0;
    top: 0;
    padding-top: 0.25rem;
    position: sticky;
    font-size: 1.25em;
    z-index: 10;
}
#backBtn { display: none }
#title { font-weight: bold }
#menuBtn { padding: 0.25em }
#menuRight { float: right; padding: 0.25em }

/* Tags */
#modalTags > div { margin: 40% auto }
.modalTagColor {
    width: 1em;
    height: 1em;
    display: inline-block;
    border: 1px solid var(--text-color);
}
#modalTagList > li > input { width: 80% }
#modalTags > div > .modalContent > div { text-align: center }
.tagColor0 { background-color: #FF0000 }
.tagColor1 { background-color: #00FF00 }
.tagColor2 { background-color: #0000FF }
.tagColor3 { background-color: #FFFF00 }
.tagColor4 { background-color: #FF00FF }
.tagColor5 { background-color: #00FFFF }
.tagColor6 { background-color: #999999 }
.tagColor7 { background-color: #333333 }
.tagColor8 { background-color: #FFAA33 }
.tagColor9 { background-color: #33AAFF }
.tagBox {
    width: 0.5em;
    height: 0.5em;
    margin-right: 0.25em;
    display: inline-block;
    border: 1px solid var(--text-color);
}
.tagGroup { display: inline-block }
.tagBox + .name {
    margin-left: 0;
}

/* General Shit */
#bMain > h4, #bCredits > p:first-child { padding-top: 1em }
#bCredits { padding: 0 1em }
#bCredits > * { font-size: 0.8em }
* { -webkit-tap-highlight-color: rgba(255, 255, 255, 0) }
#front {
    background-color: #000000;
    color: #FFFF00;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#front > div {
    text-align: center;
    margin: 60% auto;
    padding: 0.5em;
    width: 80%;
}
#front > div > * { margin-bottom: 0 }

/* Sidebar */
#cover { z-index: 15 }
nav {
    transition: 1s;
    z-index: 20;
    top: 0;
    left: -100%;
    width: 55%;
    position: fixed;
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 0.25em 0;
}
nav > ul > li { padding: 0 0.25em }
nav.active { left: 0; transition: 0.35s }
#rightbar {
    left: unset;
    right: -100%;
    border-right: unset;
}
#rightbar > h4 { padding: 0 0.25em }
#rightbar.active { right: 0 }
.sideMore { float: right }

/* Body Elements */
#content.listView { padding: 0; width: 100% }
.body { display: none }
body { font-size: 2em }

/* Checklist */
#savingIcon {
    bottom: 0;
    display: none;
    left: 0.5em;
    position: fixed;
}
#savingIcon > i {
    font-size: 2em;
    animation: fade 1s linear;
    animation-iteration-count: infinite;
}
@keyframes fade {
    0% { opacity: 100% }
    50% { opacity: 33% }
    100% { opacity: 99% }
}
#btnAddItemModal, #btnAddChecklist {
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
}
.lefty #btnAddItemModal, .lefty #btnAddChecklist {
    right: inherit;
    left: 0.5em;
}
#btnAddChecklist {
    bottom: 1em;
    position: absolute;
}
.cbitem, .settingsItem {
    padding: 0.3em 0.5em 0.15em;
    margin-bottom: 0;
}
.cbitem:last-child { margin-bottom: 3em }
#checkListData > li:first-child { margin-top: 0.5em }

.cbitem > span {
    display: inline-block;
    margin-left: 0.5em;
    max-width: 75%;
    word-break: break-word;
}
.cbitem > .edit, .cbitem > .handle, .cbitem > .goToResult {
    float: right;
    font-size: 1.25em;
    padding: 0.25em;
    padding-right: 0;
}
.cbitem > .important {
    font-size: 1.35em;
    margin-top: 0.5em;
}
.cbitem > .important + span {
    position: absolute;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 0.5em;
}

/* Checklist Settings */
.settings { text-align: right }
.lefty .settings { text-align: left }
.option {
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    padding: 0 0.5em;
    min-width: 2em;
}
.option > i { font-size: 1.5em }
.option > div { font-size: 0.5em }
.option.active {
    background-color: var(--secondary-bg-color);
    color: var(--bg-color);
}
.tagList > .tag {
    border: 1px solid var(--secondary-border-color);
    border-radius: 2px;
    display: inline-block;
    font-size: 0.5em;
    padding: 0.25em 0.5em;
    margin-right: 0.25em;
}
.tagList > .tag.active { background-color: var(--secondary-bg-color); color: var(--bg-color) }
.tagList.noTags {
    border: 1px solid var(--text-color);
    border-radius: 0.5em;
    font-size: 0.66em;
    padding: 0.33em;
}
#sortTypes, #filterTypes { display: none }
#sortTypes > li.active, #filterTypes > li.active {
    background-color: var(--bg-color-important);
    border: 1px solid var(--text-color);
    border-radius: 0.5em;
}
#sortDirIcon { float: right }
#moveChecklists > li {
    border: 1px solid var(--text-color);
    border-radius: 0.5em;
    text-align: center;
}

/* General Settings */
.box {
    border: 1px solid black;
    display: inline-block;
    height: 1.8em;
    padding-top: 0.2em;
    text-align: center;
    width: 2em;
}
.box > .material-icons { font-weight: bold; margin-top: 0.15em }
.box.theme0 { color: #B3B3B3; background: linear-gradient(0deg, #000000 80%, #FBFB07 80%) }
.box.theme1 { color: #000000;  background: linear-gradient(0deg, #FFFFFF 80%, #A0A0FF 80%) }
.box.theme2 { color: #000000; background: linear-gradient(0deg, #FFCCCC 80%, #AA0000 80%) }
.settingsItem > div { text-align: center }
.settingsButton { margin-top: 0.5em }

/* Themes */
:root {
    --bg-color: #000000;
    --bg-color-important: #660000;
    --text-color: #B3B3B3;
    --text-color-brighter: #DDDDDD;
    --secondary-bg-color: #FBFB07;
    --secondary-border-color: #898937;
    --header-bg-color: #B3B3B3;
    --header-text-color: #FFFFFF;
    --button-text-color: #4C4C4C;
}

#sidebarData > li.active {
    background: var(--header-bg-color);
    color: var(--header-text-color);
}
input.checkbox {
    -webkit-appearance: none;
    border: 0.1em solid var(--secondary-bg-color);
    border-radius: 0.25em;
    color: var(--bg-color);
    display: inline-block;
    height: 1.25em;
    margin-top: 0.5em;
    padding-left: 1em;
    position: relative;
    vertical-align: middle;
    width: 1em;
}
.itemContainer { vertical-align: middle; margin-bottom: 0.25em }
input.checkbox:checked { background: var(--secondary-bg-color) }
input.checkbox::before {
    content: "✔";
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    right: 0em;
    visibility: hidden;
}
input.checkbox:checked::before { visibility: visible }

body { background: var(--bg-color); color: var(--text-color) }
button { color: var(--text-color) !important }
.button-primary {
    background-color: var(--secondary-bg-color) !important;
    border: 1px solid var(--secondary-border-color) !important;
    color: var(--button-text-color) !important;
}
header { background: var(--header-bg-color); color: var(--header-text-color) }
.addBtn {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-border-color);
    color: var(--button-text-color);
}
nav { background: var(--bg-color); border-right: 2px solid var(--secondary-bg-color) }
.cbitem.important { background-color: var(--bg-color-important) }
.cbitem, .settingsItem { background: var(--bg-color); border-bottom: 1px solid var(--header-bg-color) }
#rightbar { border-left: 2px solid var(--secondary-bg-color) }
.option { background-color: var(--bg-color); border: 1px solid var(--header-bg-color) }
.cbitem > .edit { color: var(--text-color-brighter) }
.box { border: 1px solid var(--header-bg-color) }
.modal > div {
    background-color: var(--bg-color);
    border: 1px solid var(--header-bg-color);
}
.modalContent > input { border-color: var(--header-bg-color) }
.modalContent > input:focus { border-color: var(--secondary-bg-color) }


/* NEW AND IMPROVED CSS */

#checklistScroller {   
    position: fixed;
    bottom: 0em;
    left: 0em;
    background: var(--bg-color);
    border-top: 1px solid var(--secondary-bg-color);
    padding-top: 0.25em;
    width: 100%;
}
.scrollerBtn {
    display: inline-block;
    text-align: center;
    min-width: 5em;
    max-width: 5em;
    overflow-x: hidden;
    white-space: nowrap;
}
#prevScroller { border-right: 1px solid var(--secondary-bg-color) }
.scrollerBtn_text {
    font-size: 0.5em;
    margin-top: -0.5em;
    padding: 0 0.5em;
}

.input-full { width: 100% !important }
.input-bg { 
    background-color: var(--bg-color) !important;
    border-color: var(--header-bg-color) !important;
    color: var(--text-color) !important;
}

.citem-text { padding: 0 1em }
.citem_cname {
    text-align: right;
    font-size: 0.75em;
    font-style: italic;
}
.citem_notes {
    font-size: 0.75em;
    font-style: italic;
    margin-left: 3em;
}
